body {
  margin: 0;
}
span {
  font-size: 60px;
}

.main {
  height: 200vh;
}
.head {
  height: 50%;
  color: white;
}
.head-container {
  height: 80%;
  width: 90%;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.white-border {
  border-left: 5px solid white;
}
.box {
  height: 100%;
  width: 50%;
}
.width {
  width: 100%;
}
